form {
    padding:10px;
}

#Header {
    text-align: center;
    position:center;
}

#InicioContainer {
    margin-top:50px;
}

.inicioBtn, .empleadosBtn, .prestacionesBtn {
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.subtitleLbl {
    font-size:20px;
}