* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #09090b;
}


p, h1, a:not(header a) {
    text-shadow: 1px 1px 4px #000, -1px -1px 4px #000;
}


header {
    padding: 0.75em 2em;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);

    position: sticky;
    top: 0;
    z-index: 100;

    .sectionLista {
        display: flex;
        justify-content: flex-end;
        gap: 1.5em;

        a {
            font-weight: bold;
            color: #09090b;
            transition: transform 0.3s ease, color 0.3s ease;
        }
        
        a:hover {
            transform: scale(1.1);
            color: #09090b;
        }
    } 
}


nav {
    position: sticky;
    top: 4.75%;
    bottom: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    padding: 0.75em 2em;
    background: #09090b;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    font-weight: bold;

    a img {
        max-width: 225px;
        transition: transform 0.5s ease;
        margin-right: 1em;
    }
    
    a img:hover {
        transform: scale(1.1);
    }
    
    .sectionLista:nth-of-type(1) {
        display: flex;
        gap: 1em;
        a {
            padding: 0.5em 1.5em;
            color: white;
            border-radius: 5px;
            transition: background 0.3s ease, transform 0.3s ease;
        }
        
        a:hover {
            background: white;
            color: #09090b;
            text-shadow: none;
            transform: scale(1.1);
        }
    }
    
    .sectionLista:nth-of-type(2) {
        display: flex;
        gap: 1.5em;
        margin-left: auto;
    
        button {
            padding: 0.5em 2em;
            color: white;
            border-radius: 5px;
            border: none;
            background: #09090b;
            transition: transform 0.3s ease;
            cursor: pointer;
            font-weight: bold;
        }

        button:hover {
            transform: scale(1.1);
        }
    
        #botonRegistro {
            background: #fff;
            color: #09090b;
        }

        #botonInicio {
            border:1px solid #fff;
        }
    }
    
}

.containerGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "f1-2_c1-2 f1-2_c1-2 f1_c3 f1_c4 f1_c5"
        "f1-2_c1-2 f1-2_c1-2 f2_c3-4 f2_c3-4 f2_c5"
        "f3-4_c1-2-3 f3-4_c1-2-3 f3-4_c1-2-3 f3-4_c4-5 f3-4_c4-5"
        "f3-4_c1-2-3 f3-4_c1-2-3 f3-4_c1-2-3 f3-4_c4-5 f3-4_c4-5"
        "f5_c1 f5_c2 f5_c3 f5_c4 f5_c5";
    padding: 2em;
    height: 115dvh;

    * {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: transform 0.3s ease, 
                    background 0.3s ease, 
                    box-shadow 0.3s ease;

    }

    *:hover {
        transform: translate(0.65em) scale(1.05);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    }

    .f1-2_c1-2 {
        grid-area: f1-2_c1-2;
        background-color: #fff;
        color: #09090b;
    }

    .f1_c3 {
        grid-area: f1_c3;
        background-image: url('../assets/gridContainer1.png');
        background-size: cover;
        background-position: center;
    }

    .f1_c4 {
        grid-area: f1_c4;
        background-image: url('../assets/gridContainer3.png');
        background-size: cover;
        background-position: center;
    }

    .f2_c3-4 {
        grid-area: f2_c3-4;
        background-image: url('../assets/gridContainer4.png');
        background-size: cover;
        background-position: center;
    }

    .f1_c5 {
        grid-area: f1_c5;
        background-color: #fff;
        color: #09090b;
    }

    .f2_c5 {
        grid-area: f2_c5;
        background-image: url('../assets/gridContainer2.png');
        background-size: cover;
        background-position: center;
    }

    .f5_c1 {
        grid-area: f5_c1;
        background-image: url('../assets/gridContainer7.png');
        background-size: cover;
        background-position: center;
    }

    .f5_c2 {
        grid-area: f5_c2;
        background-image: url('../assets/gridContainer8.png');
        background-size: cover;
        background-position: center;
    }

    .f5_c3 {
        grid-area: f5_c3;
        background-color: #fff;
        color: #09090b;
    }

    .f5_c4 {
        grid-area: f5_c4;
        background-image: url('../assets/gridContainer10.png');
        background-size: cover;
        background-position: center;
    }

    .f5_c5 {
        grid-area: f5_c5;
        background-image: url('../assets/gridContainer9.png');
        background-size: cover;
        background-position: center;
    }

    .f3-4_c1-2-3 {
        grid-area: f3-4_c1-2-3;
        background-image: url('../assets/gridContainer6.png');
        background-size: cover;
        background-position: center;
    }

    .f3-4_c4-5 {
        grid-area: f3-4_c4-5;
        background-color: #fff;
        color: #09090b;
        padding: 1.5em;
    }
}

footer {
    position: sticky;
    bottom: 0;
    padding: 2em;
    z-index: 100;
    
    background: #09090b;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1.5em;

    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);

    .sectionLista {
        display: flex;
        width: 100%;
        justify-content:space-around;
        

        img {
            width: 50px;
            filter: invert();
            transition: transform 0.3s ease, filter 0.3s ease;
        }
        img:hover {
            transform: scale(1.2);
        }
    }
}

