* {
  box-sizing: border-box;
  margin: 0%;
}

/* Estilos para el body */
body {
  color: white;
  padding:2em 2em;
}

/* Estilos generales para la lista y sus elementos */
.sectionLista {
  list-style: none;

  a {
    list-style: none;
    text-decoration: none;
    color: white;
  }
}

/* Estilos para el header */
header {
  padding: 0.5em 0em;

/* Estilos para la lista del header */
  .sectionLista {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1em;

    * {
      font-weight: bold;
      color: #09090b;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

/* Estilos para el main */
main {
  background-color: #09090b;
  height: 87.5dvh;
  padding: 2em 2em;

  /* Estilos para el nav del main */
  nav {
    display: flex;
    height: 10%;

    /* Estilos para la imagen del logo */
    img {
      cursor: pointer;
      margin-right: 2em;
    }

    /* Estilos para la primera lista del nav */
    .sectionLista:nth-of-type(1) {
      display: flex;
      align-items: center;
      gap: 2.5em;
      
      /* Estilos para el resto de elemnentos */
      * {
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
        transition: all 0.5s ease;
        
        &:hover {
          transform: scale(1.25);
          box-shadow: 0px 0px 10px #09090b;
        }
      }

    }
    
    /* Estilos para la segunda lista del nav */
    .sectionLista:nth-of-type(2) {
      display: flex;
      align-items: center;
      gap: 1.5em;
      margin-left: auto;
      
      /* Estilos generales para los botones de esta lista */
      button {
        padding: 0.5em 2.5em;
        border-radius: 5px;
        font-weight: bold;
        transition: all 0.5s ease;
        
        &:hover {
          transform: scale(1.15);
          box-shadow: 0px 0px 10px #09090b;
        }
      }
      
      /* Estilos para el botón de Registro */
      #botonRegistro {
        color: #09090b;
        background-color: #fff;
        border: 1.5px solid #fff;
      }
      
      /* Estilos para el botón de Inicio */
      #botonInicio {
        color: #fff;
        background-color: #09090b;
        border: 1.5px solid #fff;
      }

    }
  }

  /* Estilos para el contenido principal del main */
  .contenidoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    text-align: center;

    /* Estilos generales para todos los elementos dentro de este contenidoPrincipal */
    * {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      gap: 2em;

      /* Estilos para el parrafo y el h1 */
      p,
      h1 {
        width: 100%;
        word-wrap: break-word;
      }

      /* Estilos para la section de el contenido */
      #inputArticle {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 0.15em;

        * {
          padding: 0.75em 1em;
        }

        /* Estilos para el input*/
        #inputSuscripcion {
          border: 1px solid #fff;

          &:focus {
            outline: none;
          }
        }

        /* Estilos para el botón*/
        #botonSuscripcion {
          font-weight: bold;
          color: #09090b;
          background-color: #fff;
          border: 1px solid #fff;
          transition: all 0.5s ease;

          &:hover {
            cursor: pointer;
            color: #fff;
            background-color: #09090b;
            border: 1px solid #fff;
            box-shadow: 0px 0px 10px #09090b;
            transform: translateX(-1.5em) scale(1.05);
          }
        }
      }
    }
  }

  /* Estilos para el footer del main */
  footer {
    display: flex;
    flex-direction: row;

    /* Estilos para la lista del footer */
    .sectionLista {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      /* Estilos para el parrafo de la lista */
      p {
        width: 15%;
        word-wrap: break-word;
        text-align: center;
      }

      /* Estilos para las imagenes de la lista */
      img {
        min-width:40px;
        min-height:40px;
        max-width: 70px;
        max-height: 70px;
        width: auto;
        height: auto;
        
        filter: invert(100%);
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          transform: scale(1.35);
        }
      }
    }
  }
}

/* RESPONSIVE EN TABLETS */
@media (max-width: 965px) {

  /* AJUSTE DEL MAIN */
  main {
    background-color: #09090b;
    height: 87.5dvh;
    padding: 2em 2em;
    padding: 2em 2em;
  
    nav {
      flex-direction: column;
      align-items: center;

      /* AJUSTE DEL LOGO */
      #logo {
        max-width: 400px;
        width: auto;
      }

      /* AJUSTE DE LA PRIMERA SECCIÓN DEL NAV */
      .sectionLista:nth-of-type(1) {
        align-items: center;
        justify-content: center;
        margin-bottom:1.5em;
      }
    
      /* AJUSTE DE LA SEGUNDA SECCIÓN DEL NAV */
      .sectionLista:nth-of-type(2) {
        justify-content: center;
        width: 100%;
      }
    }

    .contenidoPrincipal {
      article {
        margin-top: 8em;
      }
    }

    footer {
      /* Ajuste de la sección del footer */
      .sectionLista {
        flex-direction: row;
        width: 100%;
        gap: 1em;
      }
    
      /* Ajuste de imágenes */
      img {
        min-width:40px;
        min-height:40px;
      }
    }
  }
}

