
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el body */
body {
    font-family: fantasy;
    background-color: #f5f5f5;
}

/* Estilos para el nav */
nav {
    display: flex;
    height: 6em;
    margin: 2em;
    padding: 0 2em;

    background-color: #09090b;
    border-radius: 1em;
    
    /* Sombreado del nav */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    /* Alinea verticalmente el contenido del enlace al centro */
    align-items: center;
        
    /* El contenido se distribuye de manera uniforme dentro del contenedor */
    justify-content: space-between;
}

/* Estilos para la imagen del logo */
.festlandLogo {
    height: 80%;
}

/* Estilos para la lista de items del nav */
.navList {
    height: 100%;
    display: flex;
    
    /* Quita el estilo de la lista */
    list-style: none;
}

/* Estilo para la primera lista de items */
.navList:nth-of-type(1) {
    /* El margen derecho se establece en automático, 
    lo que empuja la lista lo más a la izquierda posible 
    dentro de su contenedor flexible */
    margin-right: auto;
}

/* Estilos para cada item de la lista */
.navItem {
    display: flex;

    /* Alinea verticalmente el contenido del enlace al centro */
    align-items: center;
    
}

/* Estilos para los enlaces de cada item */
.navItem a {
    color: white;

    /* Elimina el subrayado del texto del enlace */
    text-decoration: none;
    
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 1em;
    
    /* Alinea verticalmente el contenido del enlace al centro */
    align-items: center;
    
    /* Centra horizontalmente el contenido del enlace */
    justify-content: center; 
}

/* Estilos para los enlaces cuando se hace hover */
.navItem a:hover {
    color: #09090b;
    background-color: #fff;
    
    /* Transición de estos elementos */
    transition: color 0.3s ease, 
                background-color 0.3s ease, 
                transform 0.3s ease;

    /* Transformacion de la escala de los enlaces */
    transform: scale(1.05);

    /* Sombra del enlace*/
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px) {
    /* Estilos para el nav */
    nav {
        height: 100%;
        padding: 1em;
        flex-direction: column;
    }

    /* Estilos para la imagen del logo */
    .festlandLogo {
        width:60%;
    }

    /* Estilos para la lista de items del nav */
    .navList {
        width: 100%;
        margin: auto;
        flex-direction: column;
    }

    /* Estilo para la lista de items */
    .navItem {
        width: 100%;
        margin-bottom: 1.5em;

        /* Centra horizontalmente el item */
        justify-content: center;
    }

    /* Estilos para los enlaces de cada item */
    .navItem a {
        padding: 1.25em 0em;
    }

    /* Estilos para los enlaces cuando se hace hover */
    .navItem a:hover {
        transform: scale(1.09);
    }
}