/* Encabezado del formulario */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem; /* Use rem for better responsiveness */
    color: #333;
}

/* Contenedor principal de los datos */
.employeeContainer {
    display: flex; /* Estructura horizontal para el formulario y columna extra */
    /*! flex-wrap: wrap; */ /* Permitir que los elementos se envuelvan en pantallas más pequeñas */
    max-width: 75em;
    margin: 0 auto;
    gap: 20px; /* Espacio entre el formulario y la columna extra */
    margin-top: 25px;
}

/* Div de datos del empleado */
#employeeDataDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 75vw;
    max-width: 75vw;
    margin: 20px auto;
}

#lblFormData label {
    text-align: left;
    width: auto; /* Ancho automático para etiquetas */
}

/* Estilo común para campos de entrada */
#employeeDataDiv input,
#employeeDataDiv select,
#employeeDataDiv textarea {
    padding: 0.5em; /* Aumenta el padding para mejorar la usabilidad */
}

/* Estilo de filas */
.employeeRow {
    display: flex;
    flex-direction: row; /* Estructura horizontal */
    align-items: center; /* Centrar elementos verticalmente */
    gap: 20px;
    /*! width: 75px; */
}

    /* Estilo de cada elemento dentro de la fila */
    .employeeRow > :first-child {
        flex: 0 0 350px; /* Ancho flexible, que ocupe un 30% del espacio */
    }

    /* el asterisco */
    .employeeRow :nth-child(3) {
        flex: 0 0 0px /* Ancho flexible, que ocupe un 30% del espacio */
    }

    .employeeRow > input {
        flex: 0 0 250px;
    }

    .employeeRow > span {
        flex: 0 0 350px;
    }

    .employeeRow > td {
        display: flex;
        flex-direction: column;
    }

    .employeeRow > select {
        flex: 0 0 270px;
    }

.employeeRowVarious {
    display: flex;
    flex-direction: row; /* Estructura horizontal */
    align-items: center; /* Centrar elementos verticalmente */
    gap: 20px;
}

    .employeeRowVarious :first-child {
        flex: 0 0 350px /* Ancho flexible, que ocupe un 30% del espacio */
    }

    /* el asterisco */
    .employeeRowVarious :nth-child(3) {
        flex: 0 0 0px /* Ancho flexible, que ocupe un 30% del espacio */
    }

    .employeeRowVarious > input {
        flex: 0 0 250px;
    }

    .employeeRowVarious > span {
        flex: 0 0 250px;
    }

.employeeDataButtonDiv {
    display: flex;
    flex-direction: column;
    width: 75vw; /* Mantén este tamaño para pantallas grandes */
    margin: 0px auto;
}

/* Estilo del botón de enviar */
.sendButton {
    width: 100%; /* Hacer que los botones ocupen el 100% del ancho */
    padding: 0.5em; /* Espaciado interno  */
}

/* Estilo para el contenedor de validación */
.validation {
    display: flex;
    background-color: white;
}

/* Contenedor de errores */
div[id*='validationItems'] {
    background-color: red;
    max-width: 75em;
    margin: 40px auto; /* Unificación de márgenes */
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    text-align: center;
}

    div[id*='validationItems'] * {
        align-content: center;
        text-align: center;
    }

#employeValidationSummary {
    justify-content: center;
    display: flex;
}


/* PARTE CALENDARIO  */

/* Estilo para la columna extra */
#extra {
    /*! flex: 0 0 100%; */ /* Permitir que la columna extra crezca y llene el espacio */
    /*! display: flex; */
    /*! flex-direction: column; */ /* Disposición vertical */
    /*! gap: 10px; */ /* Espacio entre los elementos extra */
    display: flex;
    flex-direction: column;
    width: 50vw;
}

/* Estilos de calendario */
#divCalendarData {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta automáticamente las columnas */
    gap: 2em;
    text-align: left;
    grid-column: 1 / span 2;
    align-items: start;
}

    #divCalendarData div {
        display: grid;
        text-align: center;
    }

    #divCalendarData label {
        height: 2.5em;
        background-color: #ccc;
        border: 1px solid #999;
        font-weight: bold;
    }

/* Antigüedad del empleado */
#divEmployeeAntiquity {
    padding-top: 0em;
    border: 1px solid #999;
    margin: 0px;
    background-color: #CCCCCC;
    width: 100%;
}

    #divEmployeeAntiquity label {
        grid-row: 1;
        font-weight: bold;
        text-align: center;
    }

/* Estilo de botones */
button {
    padding: 10px 20px; /* Relleno para los botones */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor */
}

    button:hover {
        background-color: #45a049; /* Color más oscuro al pasar el mouse */
    }
