:root {
    --primary-color: #09090b;
    --secondary-color: #fff;
    --highlight-color: #09090b;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --header-background: rgba(255, 255, 255, 1);
    --font-family: 'Poppins', sans-serif;

    --grid-image-1: url('/assets/gridContainer1.png');
    --grid-image-2: url('/assets/gridContainer2.png');
    --grid-image-3: url('/assets/gridContainer3.png');
    --grid-image-4: url('/assets/gridContainer4.png');
    --grid-image-5: url('/assets/gridContainer5.png');
    --grid-image-6: url('/assets/gridContainer6.png');
    --grid-image-7: url('/assets/gridContainer7.png');
    --grid-image-8: url('/assets/gridContainer8.png');
    --grid-image-9: url('/assets/gridContainer9.png');
    --grid-image-10: url('/assets/gridContainer10.png');
}
