#lendingDataDiv {
    max-width: 75em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 19% 30% 1% 25% 25%; /* Distribución en porcentaje */
    grid-template-rows: repeat(5, 2em);
    gap: 15px;
}

    #lendingDataDiv label, #lblLendingData label {
        text-align: left;
        align-content: center;
    }

    #lendingDataDiv input,
    #lendingDataDiv select,
    #lendingDataDiv textarea {
        padding: 0.5em;
    }

#lblFormData {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background-color: #66ffff;
    padding-bottom: 20px;
}

    #lblFormData h3 {
        grid-column: 1 / span 2;
        text-align: center;
        margin: 10px;
    }


.lendingDataButtonDiv {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 2em;
    padding-top: 2em;
    max-width: 75em;
    margin: 0 auto;
    gap: 0.5em;
    text-align: center;
    height: 2em;
}

h2 {
    padding: 0.25em;
    margin: 0.75em;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

