<main id="mainHome">
    <section class="contenidoPrincipal">
        <article>
            <h1>Miles de personas ya confían en Festland</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quos?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quos?
                Lorem ipsum dolor sit amet consectetur.
            </p>
            <section id="inputArticle">
                <input
                id="inputSuscripcion"
                type="email"
                placeholder="Tu email"
                required
                />
                <button id="botonSuscripcion" type="button">Suscríbete</button>
            </section>
        </article>
    </section>
</main>