#employeeDataDiv {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

    #employeeDataDiv label {
        text-align: left;
        align-content: center;
    }

    #employeeDataDiv input,
    #employeeDataDiv select,
    #employeeDataDiv textarea {
        padding: 5px;
    }

.employeeDataButtonDiv {
    padding-bottom: 20px;
    padding-top: 40px;
    height: 40px;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}

h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
}
