@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <!-- Dos columnas para el resto de los campos -->
    <div class="row">
        <!-- Columna Izquierda -->
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                <label asp-for="Input.FirstName" class="form-label"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                <label asp-for="Input.LastName" class="form-label"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DNI" class="form-control" placeholder="ID" />
                <label asp-for="Input.DNI" class="form-label"></label>
                <span asp-validation-for="Input.DNI" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <!-- Columna Derecha -->
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.Nickname" class="form-control" placeholder="Nickname" />
                <label asp-for="Input.Nickname" class="form-label"></label>
                <span asp-validation-for="Input.Nickname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" placeholder="Address" />
                <label asp-for="Input.Address" class="form-label"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" placeholder="City" />
                <label asp-for="Input.City" class="form-label"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PostalCode" class="form-control" placeholder="Postal Code" />
                <label asp-for="Input.PostalCode" class="form-label"></label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!-- Botón de Guardar en fila completa -->
    <div class="row">
        <div class="col-12">
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
