<nav>
    <a id="aHome" href="/pages/home/index.html">
        <img id="logo" src="../../assets/logo2.png" alt="Logo" />
    </a>
    <section class="sectionLista">
        <a id="aArtistas" href="#">Artistas</a>
        <a id="aProducto" href="/pages/productos/index.html">Productos</a>
        <a id="aPrecios" href="#">Precios</a>
        <a id="aClientes" href="#">Clientes</a>
    </section>
    <section class="sectionLista">
        <button id="botonRegistro" type="button">Registro</button>
        <button id="botonInicio" type="button">Inicio</button>
    </section>
</nav>