html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 98vw;
    padding: 0px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #FFFFFF;
    color: #000000;
}

#cabecera {
    width: 98vw;
    padding: 0px;
}

#cabecera1 {
    width: 98vw;
    padding: 0px;
    background-color: #000000;
    text-align: right;
    color: #ffffff;
}

#cabecera2 {
    width: 98vw;
    padding: 0px;
    background-color: #006699;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
}

#cabecera3 {
    width: 98vw;
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

#cuerpo {
    width: 98vw;
    padding: 0px;
}

a {
    margin-top: 20px;
}

h1 {
    text-align:center;
}

.welcome {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

    .welcome h1 {
        text-align:unset;
        padding: 0px;
        margin: 0px;
    }

.errorPanel, .filaEspecial {
    color: Red;
/*    width: 98vw;*/
    align-items: center;
    display: flex;
    flex-direction: column;
}

.auto-style1 td:not(.specialRegistry) {
    height: 2.5em;
}

.registroUsuarioTabla {
    width: 50%;
    max-width: 50%;
}

    .registroUsuarioTabla td:not(.specialRegistry) {
        height: 2.5em;
        width: 98vw;
    }

    .registroUsuarioTabla .filaEspecial td span {
        width: 98vw;
        display:flex;
        flex-direction:column;
    }

    .registroUsuarioTabla tbody * {
        gap: 0.5em;
    }

    .registroUsuarioTabla label {
        font-weight: 600;
    }

.registroTdRight {
    width: 75%;
}

    .registroTdRight input {
        width: 100%;
    }

.registroTdLeft {
    width: 25%;
    padding-right: 2em;
}

#cuerpoLogin {
    width: 98vw;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cuerpoRegistro {
    width: 98vw;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu {
    float: left;
    width: 12vw;
    padding: 8px;
    padding-bottom: 5px;
    border-style: groove;
    border-width: thin;
    border-color: blue;
    /* height: 500px; */
}

#contenido {
    width: 86vw;
    padding-bottom: 5px;
}

#contenido2 {
    width: 98vw;
    padding-bottom: 5px;
}

#contenido3 {
    width: 74vw;
    padding-bottom: 5px;
    float: right;
    padding-left: 20px;
}

#pie {
    clear: both;
    width: 98vw;
    padding: 0px;
    text-align: center;
}

.contenidotitulo {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.verticalMitad {
}

.errorSection {
    border: 2px solid black;
}


.mensajes {
    width: calc(100vw - 68.75vw);
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

#total {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: inherit;
    align-self: normal;
}

#resultados {
    border: none 0px;
    /*    display: flex;
    height: 100px;*/
}

#resultadosMantener {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: normal;
    align-items: normal;
    font-weight: 800;
    padding-left: 20px;
}

#resultados span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    /*font-weight:800;*/
}

#resultados h4 {
    font-size: 18px;
    margin: 15px;
}

.gridview-row .gridview-selected-row {
    font-weight: normal;
    width: calc(100vw - 68.75vw);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: calc(100vw - 68.75vw);
    max-width: 88vw;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.grid-header {
    background: #336699;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.grid-cell {
    text-align: center;
    padding: 5px;
}

#contenedor {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    max-width: 98vw;
    padding: 0px 0px 0px 20px;
    /*! height:100%; */
}

#valoresProductos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(40%);
    justify-content: space-between;
}

    #valoresProductos input,
    #valoresProductos select {
        padding: 0.4em;
    }

#botonesValoresProducto {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    flex-direction: row;
}

    #botonesValoresProducto input {
        padding: 0.4em;
        width: 100%;
    }


#gridTable {
    width: calc(60%);
    display: flex;
    flex-direction: column;
}


    #gridTable table {
        width: calc(100%);
        justify-content: space-between;
    }

        #gridTable table tr:last-child * {
            width: 0px;
        }

        #gridTable table tr:first-child * {
            width: 0px;
            text-align: initial;
        }

        #gridTable table tr:first-child th:last-child {
            text-align: right;
        }

/* General table styling */
.table-pedidos-cliente {
    width: 600px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    border: none 0px;
}

/* Header row styling */
.table-pedidos-cliente-header {
    background-color: #5D7B9D;
    color: white;
    font-weight: bold;
    text-align: center;
}

    .table-pedidos-cliente-header th {
        padding: 8px;
        border: none 0px;
    }

/* Data row styling */
.table-pedidos-cliente-datos tr td {
    padding: 8px;
    text-align: center;
    border: none 0px;
    background: #F7F6F3;
}

/* Data row styling */
.table-pedidos-cliente-datos * {
    border: none 0px;
    text-align: center;
}

/* Alternating row colors */
.table-pedidos-cliente-datos tr:nth-child(2n) td {
    background: #F7F6F3;
    border: none 0px;
}
