<footer>
    <p id="aTerminos">Las principales artistas eligen Festland</p>
    <section class="sectionLista">
        <img id="logoFooter1" src="./assets/footer1.png" alt="footer1" />
        <img id="logoFooter2" src="./assets/footer2.png" alt="footer2" />
        <img id="logoFooter3" src="./assets/footer3.png" alt="footer3" />
        <img id="logoFooter4" src="./assets/footer4.png" alt="footer4" />
        <img id="logoFooter5" src="./assets/footer5.png" alt="footer5" />
        <img id="logoFooter6" src="./assets/footer6.png" alt="footer6" />
    </section>
</footer>