footer {
    position: sticky;
    bottom: 0;
    z-index: 100;
    
    background: var(--primary-color);
    box-shadow: 0px -6px 15px var(--shadow-color);

    padding: 2.5em 8em;
    gap: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .sectionLista {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        gap: 2em;

        img {
            width: 3em;
            
            filter: invert();
            transition: transform 0.3s ease, filter 0.3s ease;
        }

        img:hover {
            transform: scale(1.15);
        }
    }
}

/* PARA TABLETS */
@media screen and (max-width: 850px) {

    footer {
        padding: 1.5em 4em;
        
        * {
            font-size: 0.85em;
        }

        .sectionLista {
            justify-items: center;
            margin-bottom: 1em;

            img {
                width: 2.5em;
                transition: transform 0.3s ease, filter 0.3s ease;
            }

            img:hover {
                transform: scale(1.25);
            }
        }
    }
}