body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

article {
  /* Con esto centramos tanto verticalmente como horizontalmente */
  /* Aunque no es necesario, simplemente era una prueba */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: calc(100% - 60px);
}

button {
  border-radius: 20px;
  border: 0px;
  padding: 5px 15px;
  font-weight: 700;
  color: white;
}

button::after {
  content:"4";
  height: 15px;
  width: 15px;
  background-color: #dc3545;
  border-radius: 100%;
  display: inline-block;
  color: white;
  font-weight: 700;
}

button:nth-child(1) {
  background-color: #0d6efd;
}

button:nth-child(2) {
  background-color: #6c757d;
}

button:nth-child(3) {
  background-color: #198754;
}

button:nth-child(4) {
  background-color: #dc3545;

  /* OCULTAMOS ESTE BOTON */
  visibility: hidden;
}

button:nth-child(4) span {
  background-color: #198754;
}

button:nth-child(5) {
  background-color: #ffc107;
  color: black;
}

button:nth-child(6) {
  background-color: #0dcaf0;
  color: black;
}

button:nth-child(7) {
  background-color: #f8f9fa;
  color: black;
}

button:nth-child(8) {
  background-color: #212529;
}
