@import './root.css';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: calc((100vh - 80vh) / 2);
    gap: 1em;
    display: flex;
    flex-direction: column;

    *:not(#contenedor) {
        align-content: center;
        text-align: center;
        font-family: Arial, sans-serif;
        font-weight: bold;
        transition: box-shadow ease 0.6s,
                    border-color ease 0.6s,
                    transform ease 0.2s;
        cursor: pointer;
    }

    *:hover:not(#contenedor) {
        transform: translateY(-5px);
    }
}

#contenedor {
    display: grid;
    height: 67.5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "nav1 nav1 nav1 banner"
    "nav2 cuerpo1 cuerpo1 banner"
    "nav2 cuerpo1 cuerpo1 banner"
    "nav2 cuerpo1 cuerpo1 banner";
}

#cabecera {
    background: var(--gradient-cabecera);
    height: 12.5%;

    box-shadow: var(--shadow-cabecera);

    &:hover {
        box-shadow: var(--hover-shadow-cabecera);
    }
}

#menu {
    background: var(--gradient-menu);
    height: 12.5%;

    box-shadow: var(--shadow-menu);

    &:hover {
        box-shadow: var(--hover-shadow-menu);
    }
}

#nav1 {
    grid-area: nav1;
    background: var(--gradient-nav1);

    border-bottom: 0.5em solid var(--border-nav1);
    box-shadow: var(--shadow-nav1);

    &:hover {
        border-bottom: 0.5em solid var(--hover-border-nav1);
        box-shadow: var(--hover-shadow-nav1);
    }
}

#nav2 {
    grid-area: nav2;
    background: var(--gradient-nav2);

    border-top: 0.5em solid var(--border-nav2);
    border-right: 0.5em solid var(--border-nav2);
    box-shadow: var(--shadow-nav2);

    &:hover {
        border-top: 0.5em solid var(--hover-border-nav2);
        border-right: 0.5em solid var(--hover-border-nav2);
        box-shadow: var(--hover-shadow-nav2);
    }
}

#banner {
    grid-area: banner;
    margin-left: 1em;

    background: var(--gradient-banner);
    box-shadow: var(--shadow-banner);

    &:hover {
        box-shadow: var(--hover-shadow-banner);
    }
}

#cuerpo1 {
    grid-area: cuerpo1;
    background: var(--image-big), var(--gradient-cuerpo1);
    background-position: center, center;
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    width: 100%; 
    height: auto;

    border-top: 0.5em solid var(--border-cuerpo1);
    border-left: 0.5em solid var(--border-cuerpo1);
    box-shadow: var(--shadow-cuerpo1);

    &:hover {
        border-top: 0.5em solid var(--hover-border-cuerpo1);
        border-left: 0.5em solid var(--hover-border-cuerpo1);
        box-shadow: var(--hover-shadow-cuerpo1);
    }
}

#pie {
    background: var(--gradient-pie);
    height: 7.5%;

    box-shadow: var(--shadow-pie);
}

/* TABLET */
@media (max-width: 768px) {

    body {
        width: 100dvw;
    }

    #contenedor {
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "nav1 nav1 nav1 nav1"
        "nav2 cuerpo1 cuerpo1 cuerpo1"
        "nav2 cuerpo1 cuerpo1 cuerpo1"
        "nav2 cuerpo1 cuerpo1 cuerpo1"
        "nav2 cuerpo1 cuerpo1 cuerpo1"
        "banner banner banner banner";
    }

    #cuerpo1 {
        background: var(--image-medium), var(--gradient-cuerpo1);
        background-position: center, center;
        background-size: contain, cover;
        background-repeat: no-repeat, no-repeat;
    }

    #banner {
        margin-left: 0;
        margin-top: 0.5em;
    }
}

/* PHONE */  
@media (max-width: 568px) {

    body {
        width: 100dvw;
    }

    #contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
        "nav1"
        "nav2"
        "cuerpo1"
        "cuerpo1"
        "cuerpo1"
        "cuerpo1"
        "cuerpo1"
        "cuerpo1"
        "banner"
        "banner";
    }

    #cuerpo1 {
        background: var(--image-small), var(--gradient-cuerpo1);
        background-position: center, center;
        background-size: contain, cover;
        background-repeat: no-repeat, no-repeat;
        border-left: 0;
    }

    #nav2 {
        border-right: 0;
        border-top: 0;
    }

    #banner {
        margin-top: 0;
    }
}


